/* 
CSS tweaks for ProtonMail v4.0.0-beta13
*/

*{
	scrollbar-width: auto; /* normal width scrollbar */
}


/* 
Fonts (use fonts scheme from Gmail (if you are used to it)
*/
body, .bodyDecrypted.plain{
	font-family: Arial, Helvetica, sans-serif;
}
.navigation__link{
	font-family: Roboto, -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}


/* 
Header (search area...) 
*/
.header{
	height: 6rem; /* reduce header height (search area) */
}


/* 
Navigation (left area) 
*/
.navigation__link{
	padding: 0.7rem 1em 0.7rem 2rem; /* less vertical spacing between nav menu (folders) items */
}
.sidebar{
	width: 21rem; /* increase sidebar width because i get wordwrap in my language */
}


/* 
List view
*/
.toolbar{
	height: 4.5rem; /* reduce top toolbar (dark bluish-gray) height */
}

.selectBoxElement-container{ /* put the Star icon on column 2 */
	order: -2;
	margin-right: 0.5em;
}
.item-container-row div:nth-of-type(3){
	order:-1;
	margin-right: 10px;
}

.starbutton{ /* make Star icon a bit lighter */
	opacity: 0.4;
}

.selectBoxElement-container .item-icon{ /* reduce round icon size (column 1) */
	width: 2.2rem;
	height: 2.2rem;
}
.selectBoxElement-container .item-abbr{
	font-size: 1rem;
	color:#555;
}

.item-container-row > span:nth-of-type(1){ /* reduce mailsize font-size */
	color:#999;
	font-size: 0.8em;
}


/* 
Message view
*/
#conversation-view{
	padding-top: 20px; /* reduce padding above title */
}

.message-container{
	border: none; /* remove border around message */
}

.message-header{
	padding-bottom: 0; /* reduce padding in msg header */
}
.message-contact-from{ /* remove "From:" prefix  */
	display: none;
}

.filterButton-container, /* remove buttons already in the top bar (i don't use column view) */
.folderSelectorDropdown-container,
.labelSelectorDropdown-container
{
	display: none;
}
.dropdown-actions-nowrap-forward{
	margin-left: 10px;
}

.recipients-summary{
	font-size: 0.85em;
	color: #555;
}

.toggleDetails{ /* smaller "show details" link */
	font-size: 0.8em;
	color: #777;
}

.messageExtra-container{
	margin-top: 0;
}

#conversation-view .message .frame{ /* remove message left/right padding */
	padding-left: 0;
	padding-right: 0;
}
.message-body-container a{
	color: #15c; /* better contrast for links */
}


/* 
Seems Protonmail strips classes from "<p>", and thus we can't fix formating from MS Outlook
(MS Outlook use p for newlines, with a 0 margin)
ideally we would add ".MsoNormal{ margin: 0 }"
*/
.message-body-container  p{ 
	margin: 0; /* will fix newlines spacing from Outlook but may break some others messages (using non-styled "<p>")
}
